VUE_APP_SPOTIFY_CLIENT_ID=b79a6f7b9eda475da08cd7d365b306c6
VUE_APP_SPOTIFY_REDIRECT_URL=http://localhost:8080/Perfil/
VUE_APP_SPOTIFY_USER_REFRESHTOKEN=AQCnAST1mVG31rlQ4-hz-vTx7KURfOZNpD6eINwWhT-U1xQqYvB5-WvTIu0Sc2816LbsA9CD4LGUlSak5GLogRhXklyAH-ArI9r-dOfnljWJPqJaGDLHmI3aBQvyy-SC6LI
VUE_APP_SPOTIFY_SCOPES=user-read-private user-read-email user-read-recently-played user-top-read user-library-read user-library-modify user-read-playback-state user-read-currently-playing user-modify-playback-state playlist-read-collaborative playlist-modify-private playlist-modify-public playlist-read-private streaming app-remote-control user-follow-read